@charset "utf-8";

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

    body {
        background-color: #fff;
    }
    
    main {
        margin: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    /* =============================================
        Navigation Bar
    =============================================
    */
    
    .navbar {
        padding: 30px 30px;
    }

    .menu-btn {
        display: block;
    }

    .logo > h3 {
        display: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        justify-content: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
        gap: 10px;
        z-index: 99;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        display: block;
        font-size: 1rem;
    }
    
    .nav-links a:hover {
        background-color: var(--primary-color);
        text-decoration: none;
        transform: scale(1.1);
    }

    /* =============================================
        Hero Section 
    =============================================
    */

    .hero-title {
        font-size: 1.75rem;
    }
    
    .hero h2 {
        font-size: 0.75rem;
    }
    
    .more-btn {
        margin-top: 10px;
        font-size: 0.75rem;
        padding: 5px 10px;
        border: 3px solid transparent;
        border-radius: 10px;
    }

    /* =============================================
        Section
    =============================================
    */

    section {
        margin: 0;
        width: 100vw;
        height: 100%;
        border-radius: 0;
    }

    /* =============================================
        Footer
    =============================================
    */

    footer {
        margin: 0;
        width: 100vw;
        border-radius: 0;
        justify-content: center;
    }

    footer img {
        height: 30px;
    }
    
    .footer-line {
        border-bottom: none;
    }

    .footer-container {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        font-size: 0.75rem;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }

    .footer-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer button {
        align-self: center;
    }

    .footer-icons {
        justify-items: center;
        align-items: center;
    }

    .footer-icons-list svg {
        width: 20px;
    }

    .footer-bottom {
        font-size: 0.5rem;
        padding: 10px;
    }

}
 
/* =============================================
    Tablet and Desktop Styles: greater than 767px
=============================================
*/
@media only screen and (min-width: 768px) {

    /* =============================================
        Footer
    =============================================
    */

    footer {
        padding-left: 20px;
        padding-right: 20px;
    }
 
}

/* =============================================
    Tablet and Desktop Styles: greater than 1199px
=============================================
*/

@media only screen and (min-width: 1200px) {

    /* =============================================
        Footer
    =============================================
    */

    footer {
        padding-left: 150px;
        padding-right: 150px;
    }

    .footer-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        padding: 20px;
    }

}