@charset "utf-8";

/* ===============================
   Fonts
   ===============================
*/
@import url('/assets/css/fonts.css');

/* ===============================
   Colors
   ===============================
*/
@import url('/assets/css/colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100%;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

main {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    background: url('/assets/images/rice_terraces.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 20px;
    border-radius: 20px;
}

a:hover {
    transform: scale(1.1);
}

/* =============================================
    Navigation Bar
=============================================
*/

nav {
    font-family: "Space Mono Regular", sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
    z-index: 1;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.navbar .logo img {
    height: 25px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.navbar .nav-links li {
    display: inline-block;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
    padding: 8px 8px;
    transition: all 0.3s ease-in-out;
}

.navbar .nav-links a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--accent-color);
    padding: 8px 8px;
}

.navbar .menu-btn {
    display: none;
    cursor: pointer;
    z-index: 100; 
    position: relative;
    font-size: 1.5rem;
}

.hero .hero-title {
    color: #fff;
    text-decoration: none;
    font-size: 8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    box-shadow: inset 0 0 0 0 var(--secondary-color);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}

.hero .hero-title:hover {
    color: #fff;
    box-shadow: inset 860px 0 0 0 var(--primary-color);
}

.hero h2 {
    font-family: "LibreBaskerville Italic";
    font-size: 1.5rem;
    font-weight: 500;
    /* text-shadow: 1px 2px var(--text-color); */
}

.hero .more-btn {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid transparent;
    border-radius: 10px;
    background: var(--tertiary-accent-color) border-box;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

footer {
    font-family: "Space Mono Regular";
    color: #fff;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 20px 20px 0px 20px;
}

footer img {
    height: 50px;
}