@charset "utf-8";

/* ===============================
   Fonts
   ===============================
*/
@import url('./fonts.css');

/* ===============================
   Colors
   ===============================
*/
@import url('./colors.css');

/* =============================================
    Set the default page element styles
=============================================
*/

* {
    margin: 0;
    padding: 0;
    /* border: 1px dashed red;      */
    /* code above is for dev */
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100%;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

html, body {
    scroll-behavior: smooth;
}

header {
    background-color: var(--primary-color);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
}

main {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

#index-page {
    height: calc(100vh - 60px);
    /* width: calc(100vw - 60px); */
    background: url('../images/rice_terraces.png') no-repeat center center/cover;
    justify-content: center;
    margin: 30px;
    border-radius: 20px;
}

#destination-page {
    height: 300px;
    width: 100%;
    background: url('../images/destinations/ph_waters.jpg') no-repeat center center/cover;
    flex-direction: column;
    /* justify-content: center; */
}

#contact-page {
    height: 300px;
    width: 100%;
    background: url('../images/bg_contact.jpg') no-repeat center center/cover;
    flex-direction: column;
    /* justify-content: center; */
}

#about-page {
    height: 100dvh;
    width: 100%;
    background: url('../images/bg_about.jpg') no-repeat center center/cover;
    flex-direction: column;
    /* justify-content: center; */
}

#tours-packages-page {
    height: 300px;
    width: 100%;
    background: url('../images/destinations/kalanggaman-island.jpg') no-repeat center center/cover;
    flex-direction: column;
}

#reviews-page {
    height: 300px;
    width: 100%;
    background: url('../images/destinations/camiguin-island.jpg') no-repeat center center/cover;
    flex-direction: column;
}

#flight-accomodation-page {
    height: 300px;
    width: 100%;
    background: url('../images/destinations/siargao-island.jpg') no-repeat center center/cover;
    flex-direction: column;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    transform: scale(1.1);
}

select, input, textarea {
    font-family: "Inter";
    color: #12121299;
    border: 0;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

label, select, input, textarea{
    width: 100%;
}

.btn {
    font-family: "Space Mono Regular";
    font-size: 0.75rem;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn:hover {
    transform: scale(1.05);
}

.container {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-items: center;
    align-items: center;
    padding: 10px 0;
}

#top {
    position: absolute;
    top: 0;
}

#top-btn {
    border: 1px solid;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 12px 14px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#top-btnn:hover {
    background-color: #45a049;
}

#top-btn svg {
    height: 30px;
    fill: white;
}

/* =============================================
    Navigation Bar
=============================================
*/

nav {
    font-family: "Space Mono Regular", sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
}

.navbar-normal {
    min-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.logo img {
    height: 20px;
}

.nav-links {
    display: flex;
    gap: 10px;
    z-index: 99;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
    padding: 8px 8px;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--accent-color);
    padding: 8px 8px;
}

.nav-links a.active {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--accent-color);
}

.menu-btn {
    display: none;
    cursor: pointer;
    z-index: 1000; 
    /* position: relative; */
    font-size: 1.5rem;
    color: #fff;
}

/* =============================================
    Hero Section
=============================================
*/

.hero h2 {
    font-family: "LibreBaskerville Italic";
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 2px 2px var(--text-color);
}

.hero-title {
    color: #fff;
    text-decoration: none;
    font-size: 8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    box-shadow: inset 0 0 0 0 var(--secondary-color);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}

.hero-title:hover {
    font-family: "Inter";
    font-weight: 800;
    font-style: italic;
    color: #fff;
    box-shadow: inset 860px 0 0 0 var(--primary-color);
}

.more-btn {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--tertiary-accent-color) border-box;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    display: none;
}

.search-bar {
    padding-top: 15px;
    justify-items: center;
    font-size: 0.75rem;
    font-weight: 600;
}

.search-bar form {
    background-color:#fff;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    justify-items: center;
    align-items: center;
    width: fit-content;
    color: var(--text-color);
    padding: 15px;
}

.search-bar div {
    display: block;
    text-align: left;
}

.search-bar select, .search-bar input  {
    border: 1px solid;
    border-radius: 15px;
    border-color: #12121220;
    padding: 8px 3px;
}

.search-bar button {
    background-color: var(--tertiary-accent-color);
    border: none;
    color: #fff;
    border-radius: 20px;
}

.input-date {
    display: inline-flex;
    flex-direction: row;
}

.input-date input {
    width: auto;
}

/* =============================================
    Section
=============================================
*/

section {
    height: 100%;
    width: 70dvw;
    /* width: calc(100vw - 60px); */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    margin: auto;
    border-radius: 20px;
    /* border: 1px solid; */
    padding: 20px 40px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    text-align: left;
}

.section-header span {
    font-family: "Space Mono Bold";
    font-size: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.section-header .destination-btn {
    background-color: var(--primary-color);
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.section-description {
    font-family: "LibreBaskerville Italic";
    align-self: start;
    padding-bottom: 5px;
    color: #12121299;
    text-align: left;
}

.destinations-gallery-container, .services-container, .reviews-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.card-middle {
    margin-top: 80px;
}

.destination-card {
    height: 500px;
}

.destination-card:hover {
    transform: scale(1.1);
    transform: rotate(5deg);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, 0.8));
    pointer-events: none;
    z-index: 1;
}

.card-description {
    color: #fff;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-description span {
    padding: 5px 10px;
    font-weight: 600;
}

.card-location {
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 300;
    font-size: 0.75rem;
    gap: 5px;
}

.learn-more-btn {
    border: 1px solid;
    border-color: var(--primary-color);
}

.learn-more-btn svg {
    height: 20px;
    fill: var(--primary-color);
}

.services-card {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.services-card span {
    display: inline-block;
}

.services-card span:nth-child(1) {
    font-family: "Space Mono Regular";
    text-transform: uppercase;
}

.services-card span:nth-child(2) {
    display: none;
    font-style: italic;
    font-size: 0.75rem;
}

.services-card svg {
    height: 40px;
    fill: var(--primary-color);
}

.reviews-card {
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

.reviews-card svg {
    height: 30px;
    fill: var(--secondary-color);
}

.flex-row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name span {
    display: block;
}

.name span:nth-child(1) {
    font-weight: 600;
}

/* =============================================
    Destinations Page
=============================================
*/

.hero em {
    display: block;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.hero em:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--accent-color);
}

.luzviminda-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-height: 650px;
    grid-row-gap: 20px;
}

.luzviminda-card {
    border-radius: 30px;
    height: 100%;
}

.destinations-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.video-container {
    height: 100%;
}

.video-container iframe {
    border-radius: 20px;
    min-width: 20vw;
    min-height: 300px;
}

.vertical-table {
    width: 100%;
    border-collapse: collapse;
}

.vertical-table th,
.vertical-table td {
    /* border: 1px solid #ccc; */
    padding: 12px;
    vertical-align: top;
    text-align: left;
}

.vertical-table th {
    width: 150px;
}

.vertical-table li {
    padding: 10px 0;
    text-align: justify;
}

.destination-block {
    margin-bottom: 20px;
    height: 100%;
}

.destination-title {
    font-family: "LibreBaskerville Regular";
    padding: 10px;
    font-size: 1.2rem;
}

.destination-image {
    width: 100%;
    height: 400px;
    display: block;
}

.destination-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.destination-image img:hover {
    transform: scale(1.05);
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

/* =============================================
    Tours and Packages
=============================================
*/

.tourpackage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 20px;
}

.tourpackage-card {
    background-color: white;
    min-width: 250px;
    min-height: 250px;
}

.tourpackage-header {
    font-family: "Space Mono Bold";
    text-transform: uppercase;
}

.tour-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.tour-details div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-description dl {
    padding-top: 15px;
}

.tour-details dd {
    font-family: "Space Mono Regular";
    font-weight: 600;
    color: var(--primary-color);
}

.tourpackage-section {
    padding: 30px;
    border: 1px solid;
    border-radius: 10px;
}

.itinerary-list {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}

.itinerary-list li {
    padding: 10px 0;
    text-align: left
}

.itinerary-list > li::marker {
    font-family: "Space Mono Bold";
    font-size: 1.5rem;
    color: var(--accent-color);
}

.itinerary-list li > ul {
    padding: 5px 0;
    list-style: disc;
    list-style-position: inside;
}

/* =============================================
    Contact
=============================================
*/

.contact-container {
    color: var(--primary-color);
    height: calc(100vh - 360px);
    padding: 0;
    max-width: 80vw;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.contact-container div {
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    text-align: left;
}

.form-wrapper {
    padding: 15px;
    min-width: 40vw;
}

.contact-container a {
    color: var(--primary-color);
}

.contact-container form {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-top: 15px;
    width: 100%;
}

.contact-container label {
    margin-bottom: 5px;
}

.form_email, .form_message {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-radius: 10px;
    border-color: gray;
    margin-bottom: 15px;
    padding: 10px;
    gap: 5px;
}

.form_name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
}

.form_name > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.name_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
}

.contact-container button {
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    border: 0;
    padding: 10px 0;
}

.contact-container a {
    font-weight: 500;
}

/* =============================================
    About Us
=============================================
*/

.about-container {
    background-color: transparent;
    color: white;
    height: calc(100vh - 360px);
    max-width: 80vw;
    margin: 0 auto;
    font-family: 'LibreBaskerville Regular';
    text-shadow: 1px 1px black;
}

.about-container p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.6;
}

/* =============================================
    Footer
=============================================
*/

footer {
    /* width: calc(100vw - 60px); */
    font-family: "Space Mono Regular";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    color: #fff;
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 15px;
    margin: 30px;
    font-size: 0.75rem;
}

.footer-line {
    padding-bottom: 10px;
    border-bottom: 1px dashed;
}

.footer-line:nth-child(1) {
    border-bottom: none;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    padding: 20px 0px;
}

footer span {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer img {
    height: 50px;
    transition: all 0.3s ease-in-out;
}

footer img:hover {
    transform: rotate(20deg);
}

.footer-list a:hover {
    color: #FFFFFF;
}

.links-list a {
    color: #FFFFFFAA;
}

.contact li {
    /* color: #FFFFFFAA; */
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 5px;
}

.contact a {
    transform: none;
}

.subscribe-btn {
    width: auto;
    align-self: flex-start;
    display: inline-block;
    background-color: transparent;
    color: #fff;
    border: 1px solid;
    border-color: #fff;
    
}

.subscribe-btn:hover {
    background-color: var(--accent-color);
}

.subscribe-btn:focus {
    outline: 2px solid var(--secondary-color); 
    outline-offset: 2px;
}

.footer-icons span {
    text-transform: uppercase;
    font-size: 0.75rem;
}

.footer-icons-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-icons-list svg {
    fill: #fff;
    width: 30px;
}

.footer-bottom {
    text-transform: uppercase;
    font-size: 0.75rem;
    text-align: center;
    padding: 10px 20px;
}