@charset "utf-8";

/* ===============================
   Fonts
   ===============================
*/
@import url('/assets/css/fonts.css');

/* ===============================
   Colors
   ===============================
*/
@import url('/assets/css/colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    height: 100%;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

main {
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    background: url('/assets/images/rice_terraces.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 20px;
    border-radius: 20px;
}

/* =============================================
    Navigation Bar
=============================================
*/

nav {
    font-family: "Zilla Slab Medium Italic", serif;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
    z-index: 1;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}

.navbar .logo img {
    height: 25px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.navbar .nav-links li {
    display: inline-block;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 8px;
    transition: all 0.3s ease-in-out;
}

.navbar .nav-links a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--accent-color);
    transform: scale(1.1);
    padding: 8px 8px;
    border-radius: 8px;
}

.navbar .menu-btn {
    display: none;
    cursor: pointer;
    z-index: 100; 
    position: relative;
    font-size: 1.5rem;
}

.hero h1 {
    font-size: 8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.hero h2 {
    font-family: "Zilla Slab Medium";
    font-size: 1.5rem;
}

.hero img {
    width: 30px;
}